

body{
    font-family: "Oswald", sans-serif;
    color: #1f1f1f;
    font-size: 2vh;
    position: relative;
    width: 100vw;                
    height: 100vh;               
    background-image: url("../images/bkgrnd.jpg");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}


.content{
    align-items: flex-start;
    display: flex;
    margin-left: 5vh;
    margin-top: 5vh;
}

.history-column{
    display: flex;
    flex-direction: column;
    width: 70%;
}
    
h1{
    margin: 0vh 0;
    position: relative;
    font-size: 2vh;
    color: white;
}

.history-table{
    background-color: rgba(255, 255, 255, 0.8);
    border-collapse: collapse;
    padding: 2vh;
    border: 2px solid rgba(255, 255, 255);
}


.history-table th,
.history-table td{
    padding: 14px;
    text-align: left;
    
}

.history-table tr{
    border-bottom: 2px solid rgba(255, 255, 255);
}

.history-table td{
    height: 25px;
}

.session-row:hover {
    cursor: pointer;
    color: #9AAFC0;
}


.stats-column {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 3vw;
}

.stats-column h1 {
    margin: 0vh 0;
}

 .stats {   
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2vh;
    border: 2px solid rgba(255, 255, 255);
}

.stat-card {
    height: 13vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    

}

.stats-image {
    position: relative;
    flex-shrink: 0;
    width: 15vh;
    display: block;
}

.stat-info {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    
}
.stat-info h1 {
    margin: 0vh 0;
    font-size: 1.6vh;
    color: #1f1f1f;
}
.stat-info p {
    margin: 0vh 0;
    font-size: 1.6vh;
    color: #1f1f1f;
}
