<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/history.css">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="history-column">
                <h1>SESSION LOG</h1>
                <table class="history-table">
                    <tr class="header">
                        <th>ID</th>
                        <th>Date</th>
                        <th>Starting time</th>
                        <th>Duration</th>
                        <th>Steps</th>
                        <th>Distance (km)</th>
                        <th>Calories (kcal) </th>
                    {% for s in sessions %}
                    <tr class="session-row" onclick="window.location.href='/session-page/{{ s.id }}'">
                        <td>{{ s.id }}</td>
                        <td>{{ s.date }}</td>
                        <td>{{ s.start_time }}</td>
                        <td>{{ s.duration }}</td>
                        <td>{{ s.steps }}</td>
                        <td>{{ s.km }}</td>
                        <td>{{ s.kcal }}</td>
                    </tr>
                    {% endfor %}
                    {% for i in range(12 - sessions|length) %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="stats-column">
                <h1> STATISTICS </h1>
                <div class="stats">
                    <div class="stat-card">
                        <div class="stat-image-wrapper">
                            <img src="/static/images/stat-image.png" class="stats-image">
                        </div>
                        <div class="stat-info">
                            <h1>Total</h1>
                            <p>{{ total.km if total else '-' }} km</p>
                            <p>{{ total.steps if total else '-' }} steps</p>
                            <p>{{ total.kcal if total else '-' }} kcal</p>
                        </div>
                    </div>
                    <div class="stat-card">
                        <div class="stat-image-wrapper">
                            <img src="/static/images/stat-image.png" class="stats-image">
                        </div>
                        <div class="stat-info">
                            <h1>Best</h1>
                            <p>{{ best.km if best else '-' }} km</p>
                            <p>{{ best.steps if best else '-' }} steps</p>
                            <p>{{ best.kcal | int if best else '-' }} kcal</p>
                        </div>
                    </div>
                    <div class="stat-card">
                        <div class="stat-image-wrapper">
                            <img src="/static/images/stat-image.png" class="stats-image">
                        </div>
                        <div class="stat-info">
                            <h1>Average</h1>
                            <p>{{ avg.km if avg else '-' }} km</p>
                            <p>{{ avg.steps if avg else '-' }} steps</p>
                            <p>{{ avg.kcal if avg else '-' }} kcal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
