<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="background">
       <img src="/static/images/Huippu.png" class="Huippu">
       <img src="/static/images/LilyGo.png" class="LilyGo">
       <div class="square"></div>
       <img src="/static/images/lilygo-logo.png" class="lilygo-logo">
       <h1 class="total">54 KM</h1>
       <i class="fa-brands fa-bluetooth"></i> 

    </div>

    <div class="icons">
        <div class="dropdown">
            <i class="fas fa-bars icon menu-icon"></i>
            <div class="dropdown-content">
                <div class="dropdown-item">Last Session</div>
                <div class="dropdown-item">Hiking History</div>
            </div>
        </div>     
        <i class="fas fa-cog icon"></i>      
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuIcon = document.querySelector('.menu-icon');  
        const dropdown = document.querySelector('.dropdown');  

        menuIcon.addEventListener('click', () => {
            dropdown.classList.toggle('show');
        });

        window.addEventListener('click', (e) => {
            if (!dropdown.contains(e.target)) {
                dropdown.classList.remove('show');
            }
        });
    });
    </script>

</body>
</html>